<<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>kittens</title>

    <!-- Loading Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
    <!-- this makes the bootstrap.css visible to WebStorm so that it can provide suggestions for code completion -->
    <link rel="stylesheet" type="text/css" href="../../bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>

    <script type="text/javascript" src="javascript/app.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
    <script type="text/javascript" src="javascript/navbar.controller.js"></script>
    <script type="text/javascript" src="javascript/footer.controller.js"></script>
</head>

<body ng-app="mainApp" ng-controller="mainCtrl as mainControl">

<div ng-include="'views/navbar.html'"></div>

<hr>

<hr>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">

            <form ng-submit="mainControl.addData()">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a><4.00>A</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <input type="select" class="form-control" aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-3">
                        <div class="input-group">
                            <input type="select" class="form-control" aria-label="...">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->

                <input type="submit" value="submit" class="btn btn-success">
                <span class="badge floatRight">Total Items: {{mainControl.itemsInList()}}</span>
            </form>

        </li>
        <li class="list-group-item" ng-repeat="test in mainControl.gpadata">{{test.text}}<span class="glyphicon glyphicon-remove-sign floatRight" style="color: red" ng-click="mainControl.removeData($index)"></span></li>
    </ul>
</div>


<img src="assets/images/calc.png">
<div ng-include="'views/footer.html'"></div>

</body>
</html>
